<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.droj.uc.repository.CusMemberRepository">
    <resultMap id="BaseResultMap" type="com.droj.mbg.model.uc.UmsMember">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sid" jdbcType="VARCHAR" property="sid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="is_administration" jdbcType="INTEGER" property="isAdministration"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="wechat_open_id" jdbcType="VARCHAR" property="wechatOpenId"/>
    </resultMap>

    <select id="fetchMembersByKeywords" resultMap="BaseResultMap">
        SELECT 	m.id,
        m.sid,
        m.username,
        m.phone,
        m.`password`,
        m.is_administration,
        m.`status`,
        m.create_time,
        m.wechat_open_id FROM ums_member m WHERE 1=1
        AND CONCAT(m.username,m.phone) LIKE CONCAT('%',#{keyword},'%')
    </select>

    <update id="editMemberActiveStatus">
        UPDATE ums_member m SET m.`status` = #{activeStatus} WHERE 1=1 AND m.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <delete id="batchDelMember" parameterType="list">
        UPDATE ums_member m SET m.`status` = #{activeStatus} WHERE 1=1 AND m.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>